<div class="center jumbotron">
  <h1>Welcome to the Supple App</h1>

  <h2>
    This is the home page for the Supple App.
  </h2>

  <%= link_to "問題をはじめる", 'exams/question', class: "btn btn-lg btn-primary" %>
</div>
